In [1]:
import requests
import pandas as pd
import numpy as np
import json

In [2]:
# cleaning Dallas 2018
dallas2018 = pd.read_csv('working/Dallas2018.csv')
# rename columns
dallas2018.columns = ['Group', 'Class', 'GradCount', 'GradRate', 'ContCount', 
                      'ContRate','TxCHSECount','TxCHSERate','DropCount',
                      'DropRate', 'NotDropCount', 'NotDropRate']
# remove top labels read as rows
dallas2018 = dallas2018.iloc[3:19]
# remove blank rows
dallas2018 = dallas2018.iloc[:-2:2]
# select grad rate
dallas2018 = dallas2018[['GradRate']]
# transpose table
dallas2018 = dallas2018.transpose()
dallas2018.columns = ['BLKGradRate', 'INDGradRate', 'ASNGradRate',
                      'LATGradRate', 'HIPGradRate','WHTGradRate', 'BIRGradRate']
dallas2018['District'] = 'Dallas Independent School District'
dallas2018

,BLKGradRate,INDGradRate,ASNGradRate,LATGradRate,HIPGradRate,WHTGradRate,BIRGradRate,District
GradRate,84.7,80.8,84.3,87.1,84.6,89.5,88.9,Dallas Independent School District

In [3]:
# cleaning Houston 2018
houston2018 = pd.read_csv('working/Houston2018.csv')
# rename columns
houston2018.columns = ['Group', 'Class', 'GradCount', 'GradRate', 'ContCount', 
                      'ContRate','TxCHSECount','TxCHSERate','DropCount',
                      'DropRate', 'NotDropCount', 'NotDropRate']
# remove top labels read as rows
houston2018 = houston2018.iloc[3:19]
# remove blank rows
houston2018 = houston2018.iloc[:-2:2]
# select grad rate
houston2018 = houston2018[['GradRate']]
# transpose table
houston2018 = houston2018.transpose()
houston2018.columns = ['BLKGradRate', 'INDGradRate', 'ASNGradRate',
                      'LATGradRate', 'HIPGradRate','WHTGradRate', 'BIRGradRate']
houston2018['District'] = 'Houston Independent School District'
houston2018

,BLKGradRate,INDGradRate,ASNGradRate,LATGradRate,HIPGradRate,WHTGradRate,BIRGradRate,District
GradRate,77.8,66.7,93.6,79,66.7,77.3,81.2,Houston Independent School District

In [4]:
# cleaning San Antonio 2018
sanantonio2018 = pd.read_csv('working/SanAntonio2018.csv')
# rename columns
sanantonio2018.columns = ['Group', 'Class', 'GradCount', 'GradRate', 'ContCount', 
                      'ContRate','TxCHSECount','TxCHSERate','DropCount',
                      'DropRate', 'NotDropCount', 'NotDropRate']
# remove top labels read as rows
sanantonio2018 = sanantonio2018.iloc[3:19]
# remove blank rows
sanantonio2018 = sanantonio2018.iloc[:-2:2]
# select grad rate
sanantonio2018 = sanantonio2018[['GradRate']]
# transpose table
sanantonio2018 = sanantonio2018.transpose()
sanantonio2018.columns = ['BLKGradRate', 'INDGradRate', 'ASNGradRate',
                      'LATGradRate', 'HIPGradRate','WHTGradRate', 'BIRGradRate']
sanantonio2018['District'] = 'San Antonio Independent School District'
sanantonio2018

,BLKGradRate,INDGradRate,ASNGradRate,LATGradRate,HIPGradRate,WHTGradRate,BIRGradRate,District
GradRate,77.9,50,88.9,82.6,100,76.8,77.8,San Antonio Independent School District

In [17]:
TX2018 = pd.concat([dallas2018, houston2018, sanantonio2018])
TX2018 = TX2018.reset_index()
TX2018 = TX2018[['District','BLKGradRate', 'INDGradRate', 'ASNGradRate',
                      'LATGradRate', 'HIPGradRate','WHTGradRate', 'BIRGradRate']]

TX2018.to_csv('output/TX2018.csv')
TX2018

,District,BLKGradRate,INDGradRate,ASNGradRate,LATGradRate,HIPGradRate,WHTGradRate,BIRGradRate
0,Dallas Independent School District,84.7,80.8,84.3,87.1,84.6,89.5,88.9
1,Houston Independent School District,77.8,66.7,93.6,79,66.7,77.3,81.2
2,San Antonio Independent School District,77.9,50,88.9,82.6,100,76.8,77.8

In [5]:
# Saved for reference. This approach might work with the addition of beautiful soup, but I'm not sure how complicated that would be/
# Data above was retieved manually.


# The available data for Texas school districts is very limited due to anonymization.
# More useful data is available from their data look up tool available here: https://rptsvr1.tea.texas.gov/acctres/completion/2018/district.html
# The goal in this notebook is automate searches through this tool, copy the returned table, and export a usable table

#test_link = 'https://rptsvr1.tea.texas.gov/cgi/sas/broker?_service=marykay&_program=acctres.armast.sas&prgopt=completion%2F2018%2Fdistsum_demo.sas&year4=2018&year2=18&topic=completion&search=district&namenum=101912'
# this approach returns the html for the page. Unfortunately, the table is not readable from this
#test = urllib.request.urlopen(test_link)
#test_file = test.read()
#print(test_file)
# based on stack overflow posts, beautiful soup is the most likely solution